/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Inter', sans-serif;
}

@layer utilities {
    .slate {
        background-color:#626D71;
    }


    .ceramic {
        background-color: #CDCDC0;
    }

    .latte {
        background-color: #DDBC95;
    }

    .coffee {
        background-color: #B38867;
    }

    .mainbg {
        background-image: url('../assets/mainbg.jpg');
    }
}